.svn/
.depend
Build/*.opensdf
Build/*.sdf
Build/*.suo
Build/*.user
Build/*.db
Build/Debug/
Build/Release/
Build/ipch/
Build/.vs/
bin/hst/
extra/bak/

alhena
mailtmp
.DS_Store
*.opendb
*.swp
*.o
*.patch
*.csv
*.xml
*.xlsx

Build/*.txt
extra/*.txt


database/
view/
