.svn/
.depend
Build/*.opensdf
Build/*.sdf
Build/*.suo
Build/*.user
Build/Debug/
Build/Release/
Build/ipch/
bin/hst/
extra/bak/

alhena
mailtmp
.DS_Store
*.swp
*.o
*.patch
*.csv
*.txt
*.xml

database/
view/
